* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NetflixSans-Bold";
  src: url("../font/NetflixSans_W_Bd.woff2") format("woff2");
}
@font-face {
  font-family: "NetflixSans-Black";
  src: url("../font/NetflixSans_W_Blk.woff2") format("woff2");
}
@font-face {
  font-family: "NetflixSans-Medium";
  src: url("../font/NetflixSans_W_Md.woff2") format("woff2");
}
@font-face {
  font-family: "NetflixSans";
  src: url("../font/NetflixSans_W_Rg.woff2") format("woff2");
}
body {
  font-family: "NetflixSans";
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  top: 0;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.header .logo {
  width: 12em;
  filter: saturate(250%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container .box {
  background-color: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 27em;
}
.container .box form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
}
.container .box form .custom-checkbox {
  display: flex;
  align-items: center;
}
.container .box form .custom-checkbox input {
  display: none;
}
.container .box form .custom-checkbox input + label:before {
  content: "";
  width: 1em;
  height: 1em;
  background-color: grey;
  display: inline-block;
  border-radius: 0.1em;
  margin-right: 0.5em;
}
.container .box form .custom-checkbox input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}
.container .box form .custom-checkbox label {
  color: grey;
}
.container .box form .submit {
  background-color: red;
  font-family: "NetflixSans-Black";
  padding: 0;
  cursor: pointer;
  height: 3em;
  outline: none;
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 0.3em;
}
.container .box form .submit:hover {
  background-color: rgb(190, 3, 3);
}
.container .box form h2 {
  font-size: 2em;
  color: white;
}

form .input-single {
  position: relative;
  margin: 0.5em 0;
}
form .input-single label {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: rgb(133, 133, 133);
  transition: 0.2s;
  cursor: text;
}
form .input-single .input {
  width: 100%;
  height: 3.5em;
  border: 0;
  border-radius: 0.3em;
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 10px;
  padding-top: 20px;
  outline: 0;
  font-size: 16px;
}
form .input-single .input:focus {
  background-color: rgb(78, 78, 78);
}
form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
  transform: translateY(-23px);
  font-size: 12px;
}

.bg {
  z-index: -2;
  position: absolute;
  top: 0;
}
.bg .opacity {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.595);
}
.bg .background {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../img/BR-pt-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .container .box {
    width: 100vw;
    height: 100vh;
    padding-top: 5em;
  }
  .container .box form {
    padding: 2vw;
  }
  .header .logo {
    width: 10em;
  }
}
@media screen and (max-width: 450px) {
  .header .logo {
    width: 7em;
  }
}/*# sourceMappingURL=login.css.map */